server:
  port: 8081

spring:
  application:
    name: premium-spread-batch
  config:
    import:
      - redis.yml

# External API 설정
exchange-rate:
  api-key: ${EXCHANGE_RATE_API_KEY:}

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    root: INFO
    io.premiumspread: DEBUG
